---
import CtaForm from "./cta/CtaForm";

interface Props {
    subTitle?: string;
    title?: string;
    description?: string;
    formTitle?: string;
    project?: string;
    btnText?: string;
    btnLink?: string;
}

const {
    subTitle = "Свяжитесь со мной",
    title = "Воплотите ваши идеи в реальность с помощью ИИ",
    description = "Я работаю в тесном контакте с вами, чтобы понять ваши цели и превратить ваши идеи в мощные цифровые решения на базе искусственного интеллекта.",
    formTitle = "Оставить заявку",
    project = "chistotyumen",
    btnText = "Узнать больше",
    btnLink = "contact.html"
} = Astro.props;
---
<!-- Cta Box Section Start -->
<div class="cta-box bg-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <!-- Cta Box Content Start -->
                <div class="cta-box-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <span class="section-sub-title wow fadeInUp">{subTitle}</span>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">{title}</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">{description}</p>
                    </div>
                    <!-- Section Title End -->
                </div>
                <!-- Cta Box Content End -->
            </div>

            <div class="col-xl-6">
                <CtaForm client:load title={formTitle} project={project} />
            </div>
        </div>
    </div>
</div>
<!-- Cta Box Section End -->