---
const { posts = [], currentPage = 1, totalPages = 1 } = Astro.props;

const pageHref = (page: number) => (page <= 1 ? "/blog" : `/blog/page/${page}`);
const pageNumbers = Array.from({ length: totalPages }, (_, i) => i + 1);
---
<!-- Page Blog Start -->
<div class="page-blog">
    <div class="container">
        <div class="row">
            {posts.map((post: any) => (
                <div class="col-xl-4 col-md-6">
                    <!-- Post Item Start -->
                    <div class="post-item box-border-gradiant wow fadeInUp">
                        <!-- Post Item image Start -->
                        <div class="post-item-image">
                            <figure>
                                <img src={post.data.image || "/images/post-1.jpg"} alt={post.data.title}>
                            </figure>
                        </div>
                        <!-- Post Item image End -->

                        <!-- Post Item Button Start -->
                        <div class="post-item-btn">
                            <a href={`/blog/${post.id}`}><img src="/images/arrow-primary.svg" alt=""></a>
                        </div>
                        <!-- Post Item Button End -->

                        <!-- Post Item Body Start -->
                        <div class="post-item-body">
                            <!-- Post Item Content Start -->
                            <div class="post-item-content">
                                <h2><a href={`/blog/${post.id}`}>{post.data.title}</a></h2>
                            </div>
                            <!-- Post Item Content End -->

                            <!-- Post Item Meta Start -->
                            <div class="post-item-meta">
                                <ul>
                                    <li>
                                        <img src="/images/icon-calendar-date.svg" alt="">
                                        {new Date(post.data.pubDate).toLocaleDateString('ru-RU', {
                                            year: 'numeric',
                                            month: 'long',
                                            day: 'numeric'
                                        })}
                                    </li>
                                </ul>
                            </div>
                            <!-- Post Item Meta End -->
                        </div>
                        <!-- Post Item Body End -->
                    </div>
                    <!-- Post Item End -->
                </div>
            ))}

            {totalPages > 1 && (
                <div class="col-lg-12">
                    <!-- Page Pagination Start -->
                    <div class="page-pagination wow fadeInUp" data-wow-delay="0.4s">
                        <ul class="pagination">
                            {currentPage > 1 && (
                                <li><a href={pageHref(currentPage - 1)}><i class="fa-solid fa-angle-left"></i></a></li>
                            )}
                            {pageNumbers.map((page) => (
                                <li class={page === currentPage ? "active" : ""}>
                                    <a href={pageHref(page)}>{page}</a>
                                </li>
                            ))}
                            {currentPage < totalPages && (
                                <li><a href={pageHref(currentPage + 1)}><i class="fa-solid fa-angle-right"></i></a></li>
                            )}
                        </ul>
                    </div>
                    <!-- Page Pagination End -->
                </div>
            )}
        </div>
    </div>
</div>
<!-- Page Blog Start -->